*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  min-height: 100vh;
  overflow-x: clip;
  background: #fff;

  scrollbar-color: transparent;
  scrollbar-width: 5px;

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  letter-spacing: 0.01em;
  font-size: 1px;
  font-weight: 300;
  line-height: 1.3;
  color: #181818;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0140FF;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0140FF;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;   
}

.container {
    width: 100%;
    max-width: 1196px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
}

/* Header 
==================================================*/

.header {
    position: relative;
    width: 100%;
    padding: 48px 0;
    z-index: 1;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-nav-link {
    padding: 8px 10px;

    text-align: center;
    border-radius: 100px;

    transition: background-color 0.2s, color 0.2s;

    color: #000;
    
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    
    text-decoration: none;
    cursor: pointer;
}

.header-nav-link:hover {
    background-color: #6BEC6B;
    color: #fff;
}

.header-nav-link.active {   
    border: 1px solid #6BEC6B;
    border-radius: 100px;
}

.header-contact {
    display: flex;
    align-items: center;
}

.header-contact-link {
    padding: 6px 14px;

    color: #0140FF;

    font-size: 16px;

    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.header-contact-link.registration {
    background-color: #0140FF;

    padding: 6px 14px;

    border-radius: 30px;

    color: #fff;

    font-size: 16px;

    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.registration:hover {
    background-color: #002FBD;
}


/* Content 
==================================================*/

.intro-content {
    position: relative;
}

.nav-telephone{
    display: none;
}

.intro-kv {
    position: absolute;
    top: 20px;
    left: 400px;

    z-index: 0;
    
    width: 1416px;
}

.content-title {
    position: relative;    
    display: flex;
    flex-direction: column;
    gap: 122px;
    z-index: 1;
}

/*content-first*/

.content-title-first {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.content-title-first p {  
    color: #000;

    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    line-height: 1.1;

    padding-left: 18px;

    border-left: 2px solid #0140FF;
}

.content-subtitle-first {
    display: flex;
    gap: 22px;
}

.content-subtitle-first h1{
    color: #0140FF;

    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: 500;

    line-height: 1;
}

.content-subtitle-first h2 {
    color: #6BEC6B;

    font-family: 'Barlow', sans-serif;
    font-size: 128px;
    font-weight: 100;

    line-height: 0.5;
}

/*content-second*/

.content-title-second {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title-second-subtitle {
    display: flex;
    width: 300px;
    padding: 13px 9px; 

    position: relative;

    border: 2px solid #6BEC6B;
    border-radius: 4px;

    color: #6BEC6B;

    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;

    line-height: 109%; 
}

.title-second-subtitle::after {
    content: "";
    width: 10px;
    height: 10px;

    position: absolute;
    top: 50%;
    right: 29px;
    transform: translateY(-50%);

    background-color: #6BEC6B;
    border-radius: 5px;
}

.content-title-second time {
    color:#6BEC6B;

    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;

    line-height: 100%;
}

.content-title-second h2{
    color: #0140FF;

    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;

    line-height: 120%;
}



/* Banner 
==================================================*/

/*video*/

.video {
    width: 1166px;
    height: 703px;  

    margin: 74px auto 48px auto;

    border-radius: 65px;
}



/* content-invitation */

.content-invitation {
    font-family: Arial, Helvetica, sans-serif;

    width: 100%;
    padding: 48px 0 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;

    margin-bottom: 48px;
}

/*text*/

.invitation-text {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.invitation-text div:first-child {
    color: #000;

    font-size: 36px;
    font-style: normal;
    font-weight: 500;

    line-height: 120%; 
}

.invitation-text div:last-child {
    padding-left: 26px;

    color: #000;

    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    line-height: 120%;

    border-left: 2px solid #0140FF;
}

/*btn*/

.invitation-btn {
    padding: 12px 44px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0140FF;

    border-radius: 30px;

    cursor: pointer;

    transition: background-color 0.2s linear ;

    color: #fff;

    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;

    text-decoration: none;

    background-color: #0140FF;
}

.invitation-btn:hover {
    background-color: #002FBD;
}

/*invitation-advertising*/

.invitation-advertising {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 21px;
}

.advertising-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advertising-link p{
    color: #000;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;

    text-align: center;

    line-height: 120%;
}

.advertising-link img {
    width: 100%;
}



/* Content Service 
==================================================*/

.content-service {
    padding-top: 100px;

    margin-bottom: 65px;
}

.content-service h1{
    color:#0140FF;

    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;

    line-height: 68px; 

    margin-bottom: 65px;
}

.content-service-text{
    color: #000;

    font-family: 'Handjet', cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;

    line-height: 28px;
    letter-spacing: 5px;

    margin-bottom: 60px;
}

/*service-team*/

.service-team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    margin-bottom: 90px;
}

.service-team-img-telephone {
    display: none;
}

.team {
    padding: 24px 12px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    border-radius: 24px;
    border: 2px solid #0140FF;
}

.team-img {
    width: 100%;
}

.team h3{
    margin-bottom: 12px;

    text-align: center;
}

.red {
    color: #FF3939;

    font-family: 'Noto Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    
    text-align: center;

    line-height: 100%; 
}

.blue {
    color: #0140FF;

    font-family: 'Noto Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    
    text-align: center;

    line-height: 100%; 
}

.yellow {
    color: #F5EE1D;

    font-family: 'Noto Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    
    text-align: center;

    line-height: 100%; 
}

.team p{
    color: #000;

    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;

    line-height: 28px;
    letter-spacing: 5px;
}

/*content-shadowing*/

.content-shadowing {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 35px;

    padding: 0 150px;

    margin-bottom: 80px;
}

.content-shadowing-element {
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 60px;
}

.content-shadowing-element div {
    margin: auto 0;
}

.content-shadowing-element img {
    width: 100%;
}

.content-shadowing-element p {
    color: #000;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    line-height: 120%; 

    padding-right: 80px;

    display: flex;
    align-items: center;
}

/* Content league 
==================================================*/

.content-league {
    padding: 48px 0 70px 0;

    margin-bottom: 22px;
    
}

.content-league h2{
    color: #0140FF;

    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;

    line-height: 68px;

    padding-bottom: 30px;
}

/*league*/

.league {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    padding-bottom: 100px;
}

.league div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.league img {
    width: 100%;
}

.league h3{
    color:#0140FF;

    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    
    line-height: 100%; 
} 

.league p {
    color:  #000;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    
    text-align: center;
    
    line-height: 120%; 

    padding: 0 30px;
}

/*league-shadowing*/

.league-shadowing {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 35px;

    padding: 0 150px;

    margin-bottom: 80px;
}

.league-shadowing-element {
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 60px;
}

.league-shadowing-element div {
    margin: auto 0;
}

.league-shadowing-element img{
    width: 100%;
}


.league-shadowing-element p {
    color: #000;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    line-height: 120%;
    
    padding-right: 90px;
    
    display: flex;
    align-items: center;
}



/* Content path team 
==================================================*/

.content-path-team {
    display: flex;
    flex-direction: column;
    gap: 50px;

    padding: 22px 0 48px 0;

    margin-bottom: 40px;
}

.content-path-team h2 {
    color: #0140FF;

    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;

    line-height: 100%;

    padding-bottom: 10px;
}

/*team number*/

.path-team-number {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

.team-number {
    padding: 22px 21px; 

    display: flex;
    flex-direction: column;
    gap: 8px;
    
    border: 1px solid #0140FF;
    border-radius: 24px;

    position: relative;
}

.team-number h3 {
    color: #0140FF;
    
    font-family: 'Poppins', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    
    line-height: 100%;
    
    padding-bottom: 8px;
}

.team-number h3::after {
    content: "";
    width: 10px;
    height: 10px;

    position: absolute;
    right: 21px;
    background-color: #646E8F;

    border-radius: 5px;
}

.team-number h4{
    color: #0140FF;

    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;

    line-height: 100%; 
}

.team-number p {

    color: #000;

    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;

    border: 1px linear  #000;
}



/* Content registration
==================================================*/

.content-registration  {
    padding: 40px 0 100px 0;
    margin-bottom: 50px;  
}

.content-registration h2 {
    color: var(--blue, #0140FF);

    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;

    line-height: 120%; 

    padding-bottom: 50px;
}

.content-registration-type {
    max-width: 100%;

    display: flex;
    gap: 20px;
}

/*type-first*/

.type-first {   
    padding: 24px 24px 260px 24px;
    
    background-color: #0140FF;

    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
    border-radius: 12px;

    font-family: 'Poppins', sans-serif;

    position: relative;
}

.type-first-title h3 {
    color: #F2F2F2;

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; 

    letter-spacing: 0.18px;

    padding-bottom: 6px;
}
.type-first-title h4 {
    color: var(--light-green, #B6EF43);

    font-size: 20px;
    font-style: normal;
    font-weight: 500;

    line-height: 22px; 
}

.type-first-title {
    flex-basis: 70%;
}

.img-user {
    width: 252px;
    position: absolute;

    top: 190px;
    right: 40px;
}

.group-cross {
    width: 50px;
    height: 50px;

    background-color: #6BEC6B;

    border-radius: 25px;

    position: relative;
}

.cross {
    position: absolute;
    top: calc(25px - 11px);
    right: calc(25px - 11px);
}

/*.type-second*/

.type-second {
    padding: 24px 24px 195px 24px;

    background-color: #B6EF43;

    flex-basis: 60%;

    display: flex;
    justify-content: space-between;

    border-radius: 12px;

    font-family: 'Poppins', sans-serif;
    position: relative;
}

.type-second-title h3 {
    color: var(--white, #FFF);

    font-size: 36px;
    font-style: normal;
    font-weight: 700;

    line-height: 38px; 
    letter-spacing: 0.18px;

    padding-bottom: 6px;
}

.type-second-title h4 {
    color: var(--blue, #0140FF);

    font-size: 20px;
    font-style: normal;
    font-weight: 500;

    line-height: 22px; 
    margin-bottom: 15px;
}

.type-second-title p {
    color: var(--blue, #0140FF);

    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;

    line-height: 22px; 

    padding: 9px 16px;

    background-color: #fff;

    border-radius: 20px;
    
}

.type-second-title {
    flex-basis: 50%;
}

.group-cross-second {
    width: 50px;
    height: 50px;

    background-color: #0140FF;

    border-radius: 25px;

    position: relative;
}

.img-group {
    width: 623px;

    position: absolute;

    top: 205px;
    right: -60px;
}



/* Content Participation
==================================================*/

.content-participation {  
    background-color: #6BEC6B;

    padding: 24px;

    display: flex;
    justify-content: space-between;

    margin-bottom: 48px;
}

.content-participation p{
    color: var(--black, #000);

    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;

    line-height: 100%;
}



/* Content program
==================================================*/

.content-program {
    padding: 48px 0;

    margin-bottom: 48px;
    font-family: 'Poppins', sans-serif;
}

.content-program h2 {
    color: var(--blue, #0140FF);

    font-size: 64px;
    font-style: normal;
    font-weight: 700;

    line-height: 120%; 

    margin-bottom: 48px;
}

/*program-data*/

.program-data {
    display: flex;
}

.program-number {
    width: 55px;
    height: 55px;

    background-color: #0140FF;

    border-radius: 30px;

    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #fff;

    text-align: center;

    padding: 10px 0;
}

.program-data p {
    color: var(--blue, #0140FF);
    
    font-size: 28px;
    font-style: normal;
    font-weight: 700;

    line-height: 100%; 

    padding-left: 45px;

    display: flex;
    align-items: center;
}

.program-data time {
    color: var(--green, #6BEC6B);

    font-size: 42px;
    font-style: normal;
    font-weight: 500;

    padding-left: 230px;
}


/*table*/

.table {
    display: flex;
    gap: 45px;

    margin: 0 27.5px;

    border-left: 2px solid #0140FF;
}

.table-program {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    padding: 45px 0 0 72.5px;
}

/* Program */

.program {
    display: flex;
    justify-content: space-between;
}

/*program-time*/

.program-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 0 130px 0 0;
}

.div-time {
    display: flex;

    margin-bottom: 15px;
}

.div-time time {
    color: var(--black, #000);

    font-size: 28px;
    font-style: normal;
    font-weight: 500;

    line-height: 33px; 
}

.div-time p {
    color: #6BEC6B;

    font-size: 40px;
    font-style: normal;
    font-weight: 500;

    line-height: 33px;  
}

.time-min {
    display: flex;
    justify-content: space-between;

    background-color: #e7e7e7;
    border-radius: 15px;

    padding: 3px 10px;
}

.time-min img {
    width: 21px;
    height: 21px;

    margin: auto 0;
}

.time-min p {
    color: #646E8F;

    font-size: 17px;
    font-style: normal;
    font-weight: 700;

    padding-left: 10px;
}

/*program-title*/

.program-main {
    display: flex;
    justify-content: space-between;
}

.program-title {
    display: flex;
    flex-direction: column;

    padding-right: 40px;
}

.program-title h3 {
    color: var(--blue, #0140FF);
    
    font-size: 36px;
    font-style: normal;
    font-weight: 700;

    line-height: 33px; 

    text-decoration: center;
    padding-bottom: 15px;
}

.program-title p {
    color: var(--black, #000);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

/*program-img*/

.program-img {
    display: flex;
    gap: 40px;
}

.program-img p {
    color: var(--dark-grey, #646E8F);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;

    line-height: 200%;
}

.program-img img{
    width: 73px;
    height: 38px;
}


/* Content Speakers
==================================================*/ 

.content-sepakers {
    direction: flex;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
}

.content-speakers h2 {
    color: var(--blue, #0140FF);

    font-size: 64px;
    font-style: normal;
    font-weight: 700;

    line-height: 120%;

    margin-bottom: 45px;
}

.div-speakers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.speaker img {
    width: 100%;
}

.speaker-name {
    padding: 25px 25px 35px 25px;
}

.speaker-name h3 {
    color: var(--blue, #0140FF);

    font-size: 24px;
    font-style: normal;
    font-weight: 700;

    line-height: 100%; 

    padding-bottom: 10px;
}

.speaker-name p {
    color: var(--black, #000);

    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    line-height: 130%; 
}



/* Content parthners
==================================================*/

.content-partners {
    display: flex;
    flex-direction: column;
    gap: 48px;

    padding-top: 45px;

    margin: 48px 0;

    font-family: 'Poppins', sans-serif;
}

.content-partners h2 {
    color: var(--blue, #0140FF);

    font-size: 64px;
    font-style: normal;
    font-weight: 700;

    line-height: 120%; 
}

/*parthers*/

.table-partners {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.partners {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.partners-title {
    position: relative;
}

.partners-title h3 {
    color: var(--black, #000);

    font-size: 20px;
    font-style: normal;
    font-weight: 500;

    line-height: 120%; 

    margin-bottom: 24px;
}

.partners-title h3::after {
    content: "";
    width: 930px;
    height: 1px;

    background-color: #646E8F;

    position: absolute;

    top: 50%;
    left: 230px;   
}

.inline-partners {
    display: flex;
    justify-content: space-between;
}



/* Content info partners
==================================================*/

.content-info-partners {
    padding: 48px 0;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-partners-title{
    position: relative;
}

.info-partners-title h2 {
    color: var(--blue, #0140FF);

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;

    line-height: 120%;
}

.info-partners-title h2:after {
    content: "";
    width: 870px;
    height: 1px;

    background-color: #0140FF;

    position: absolute;
    top: 50%;
    left: 296px;
}

/* info partner*/

.table-info-partners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}



/* Content question
==================================================*/

.content-question {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-top: 48px;

    padding: 150px 0 100px 0;

    font-family: 'Poppins', sans-serif;
}

.content-question h2 {
    display: none;
}


.question-title {
    display: flex;
    justify-content: space-between;

    padding: 50px;

    border-radius: 100px;
    border: 2px solid var(--blue, #0140FF);
}

.question-title h3 {
    color: var(--blue, #0140FF);

    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    line-height: 32px; 
}

.question-title img {
    width: 24px;
    height: 12px;

    margin: auto 0px;
}

/*question-three*/

.question-three {
    border-radius: 75px;
    border: 2px solid #0140FF;
    box-shadow: 6px 6px 0px 0px #0140FF;
}

.question-three-title {
    display: flex;
    justify-content: space-between;

    padding: 50px 50px 25px 50px;
}

.question-three-title h4 {
    color: var(--blue, #0140FF);

    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    line-height: 32px; 
}

.question-three-title img {
    width: 24px;
    height: 12px;
}

.question-three p {
    color: var(--black, #000);

    font-size: 24px;
    font-style: normal;
    font-weight: 400;

    line-height: 120%; 

    padding: 25px 200px 50px 50px;
}



/* Footer
==================================================*/

.footer {
    background-color: #0140FF;

    border-radius: 24px 24px 0 0;

    margin-top: 50px;

    padding-top: 50px;

    font-family: 'Poppins', sans-serif;
}

.footer-container {
    width: fit-content;
    padding-bottom: 70px;

    margin: 0 auto;
}

/*contacts*/

.footer-contacts {
    position: relative;
}

.footer-title {
    color: #6BEC6B;

    font-size: 64px;
    font-style: normal;
    font-weight: 700;

    line-height: 100%;

    margin-bottom: 54px;
}

.footer-cat {
    width:497px;
    height: 541px;

    position: absolute;
    right: 0;
    bottom: 20px;
}

/*contacts-tg*/

.contact-tg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    width: fit-content;
}

.contact-tg p {
    color: var(--white, #FFF);

    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    line-height: 120%; 
}

.contacts-btn {
    display: flex;
    align-items: center;

    width: fit-content;
    height: fit-content;
    padding: 10px 22px;

    border-radius: 35px;
    background:  #6BEC6B;

    text-align: center;
    text-decoration: none;

    color: var(--blue, #0140FF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

    line-height: 22px; 
}

.contacts-btn img{
    padding-right: 5px;
}

.email-first {
    padding: 0 24px;

    border-left: 2px solid #6BEC6B;
}

.email-first p {
    color: var(--white, #FFF);

    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    line-height: 120%; 

    padding-bottom: 8px;
}

.email-first a {
    color: var(--green, #6BEC6B);

    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;

    line-height: 24px;

    text-decoration: none;
}

/*footer-last*/

.footer-last {
    display: flex;
    gap: 30px;

    margin-top: 100px;
}

.last-title {
    display: flex;
}

.last-title p {
    display: none;
}

.last-title h2 {
    color: var(--white, #FFF);

    font-size: 55px;
    font-style: normal;
    font-weight: 700;

    line-height: 99%;

    margin-right: 400px;
}

.last-title span {
    color: var(--green, #6BEC6B);

    font-family: 'Barlow', sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 300;

    line-height: 99%;
}

.last-a {
    display: flex;
    gap: 45px;

    align-items: end;
}

.last-a a {
    color: var(--white, #FFF);

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 

    text-decoration-line: underline;
}



/* Media
==================================================*/

@media (max-width: 1365px) {
    .container {
        max-width: 100%;
        padding: 0 30px;
        
        margin: 0 auto;
    }

/* header */

    .header { 
        padding: 33px 0 ;
    }

    .header-nav-link {
        font-size: 10px;
        padding: 5px 10px;
    }

    .header-contact-link {
        font-size: 10px;
        
        padding: 4px 9px;
    }

  .header-contact-link.registration {
        font-size: 10px;
        
        padding: 4px 9px;  
    }

/* intro */

    .content-subtitle-first h1 {
        font-size: 70px;
    } 

    .content-subtitle-first h2 {
        font-size: 90px;
    }

    .content-title-first p {
        font-size: 16px;
    }

    .intro-kv {
        width: 871px;
        left: 330px;
    }

    /*content-second*/

    .title-second-subtitle {
        width: 210px;
        padding: 9px 6px;

        font-size: 28px;
    }

    .title-second-subtitle::after {
        width: 6px;
        height: 6px;

        border-radius: 3px;

        right: 20px;
    }
    
    .content-title-second time {
        font-size: 28px;
    }

    .content-title-second h2 {
        font-size: 28px;
    }

/* banner */

    .video {
        width: 877px;
        height: 528px;

        margin: 0;

        border-radius: 45px;
    }

    .content-invitation {
        padding: 60px 0 0 0;

        margin: 0;
        
        gap: 50px;
    }

    .invitation-text {
        padding: 0 80px;
    }

    .invitation-text div:first-child {
        font-size: 25px;
    }

    .invitation-text div:last-child {
        font-size: 16px;
    }

    .invitation-btn {
        padding: 10px 45px;

        font-size: 16px;
    }

    /*invitation-advertising*/
    
    .invitation-advertising {
        padding: 0 40px;

        gap: 15px;
    }

    .advertising-link p {
        font-size: 14px;
    }

 /*content-service*/ 
    
    .content-service {
        padding: 100px 40px 0 40px;
        margin: 0;
    }
    
    .content-service h1 {
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 47.976px; 
    } 
    
    .content-service-text {
        font-size: 16px;
        line-height: 19.755px;
    }

    /*service-team*/

    .team h3 {
        font-size: 25px;
    }

    .team p {
        font-size: 14px;
        line-height: 19.755px; 
    }

    /*content-shadowing*/

    .content-shadowing {
        margin: 0;

        padding: 0 80px;
    }

    .content-shadowing-element {
        gap: 42px;
    }
    
    .content-shadowing-element p {
        font-size: 18px;
    }


/* group-league */
    
    .content-league {
        padding-bottom: 0;

        margin-bottom: 50px;
    }

    .content-league h2 {
        padding: 0 70px;
        
        font-size: 45px;
        line-height: 51.921px;
    } 

    /*league*/
    
    .league {
        margin-top: 20px;

        padding-bottom: 80px;
    }

    .league h3 {
        font-size: 27px;
    }

    .league p {
        font-size: 18px;
        padding: 0 70px;
    }

    /*league-shadowing*/

    .league-shadowing {
        margin: 0;

        padding: 0 100px;

        gap: 16px;
    }

    .league-shadowing-element {
        gap: 19px;
    }

    .league-shadowing-element p {
        font-size: 18px;
    }

/* content-path-team */

    .content-path-team {
        padding: 0 70px;

        gap: 35px;
    }

    .content-path-team h2 {
        font-size: 26px;
    }
    
    /*team number*/

    .team-number {
        padding: 16px 15px; 

        gap: 6px;
    }

    .team-number h3 {
        font-size: 70px;
    }

    .team-number h3::after {
        width: 6px;
        height: 6px;
        right: 15px;
    }

    .team-number h4 {
        font-size: 16px;
    }

    .team-number p {
        font-size: 10px;
    }

/* content-registration */

    .content-registration {
        padding: 0 70px;
    }

    .content-registration h2 {
        font-size: 45px;
    }

    /*type-first*/

    .img-user {
        width: 180px;
    }

    .type-first-title h3 {
        font-size: 25px;
        line-height: 110%;
    }

    .type-first-title h4 {
        font-size: 14px;
        line-height: 15.725px;
    }

    .group-cross {
        width: 35px;
        height: 35px;
    }

    .cross {
        top: calc(17.5px - 11px);
        right: calc(17.5px - 10px);   
    }

    /*.type-second*/

    .img-group {
        width: 445px;
    }
    
    .type-second-title h3 {
        font-size: 25px;
        line-height: 27.161px;
    }

    .type-second-title h4 {
        font-size: 14px;
        line-height: 15.725px;
    }

    .type-second-title p {
        font-size: 14px;
        
        padding: 6px 11px;
    }

    .group-cross-second {
        width: 35px;
        height: 35px;
    }

/* content-participation */

    .content-participation {
        padding: 20px;

        margin-top: 100px;
    }

    .content-participation p {
        font-size: 30px;
        line-height: 100%;
    }

/* content-program */

    .content-program {
        padding: 0 70px;
    }

    .content-program h2 {
        font-size: 45px;
    }   

    /*program-data*/

    .program-number {
        width: 40px;
        height: 40px;

        font-size: 18px;

        padding: 7px 0;
    }

    .program-data p {
        font-size: 20px;
        padding: 0 0 0 33px;
    }

    .program-data time {
        font-size: 31px;

        padding: 0 0 0 170px;
    }

    /*table*/

    .table {
        margin: 0 0 0 20px;

        border-left: 1px solid #0140FF;
    }
    .table-program {
        padding: 35px 0 0 53px;
        gap: 17px;
    }

    /*program-time*/

    .program-time {
        margin: 0 90px 0 0;
    }

    .div-time {
        margin-bottom: 5px;
    }

    .div-time time {
        font-size: 20px;
    }

    .time-min {
        padding: 5px 8px;
    }
    
    .time-min img {
        width: 15px;
        height: 15px;
    }
    
    .time-min p {
        font-size: 12px;
    }

    .program-title {
        padding-right: 20px;
    }

    .program-title h3 {
        font-size: 26px;
        padding-bottom: 0;
    }

    .program-title p {
        font-size: 13px;

        line-height: 15px;
    }

    /*program-img*/

    .program-img {
        gap: 30px;
    }

    .program-img p {
        font-size: 13px;
    }

    .program-img img {
        width: 54px;
        height: 28px;
    }

 /*content-speakers*/

    .content-speakers {
        padding: 0 70px;
    }

    .content-speakers h2 {
        font-size: 45px;

        margin-bottom: 35px;
    }

    .speaker-name {
        padding: 17px 17px 25px 17px;
    }

    .speaker-name h3 {
        font-size: 16px;
    }

    .speaker-name p {
        font-size: 9px;
        font-weight: 700;
    }

 /*content-partners*/    
    
    .content-partners {
        margin: 80px 0 0 0;

        padding: 0 70px;
    }

    .content-partners h2 {
        font-size: 45px;
    }

    /*parthers*/

    .partners-title h3 {
        font-size: 15px;
    }

    .partners-title h3::after {
        width: 650px;

        left: 180px;
    }

    .inline-partners img {
        width: 280px;
        height: 73px;
    }

/*content-info-partners*/
    
    .content-info-partners {
        padding: 35px 70px;
    }

    .info-partners-title h2 {
        font-size: 15px;
    }

    .info-partners-title h2:after {
        width: 600px;
        left: 230px;
    }

/*content-question*/  
    
   .content-question {
        padding: 35px 70px 70px 70px;
        
        margin-top: 35px;
   }

   .content-question h2 {
        color: var(--Blue, #0140FF);
        font-family: 'Poppins', sans-serif;
        font-size: 47px;
        font-style: normal;
        font-weight: 700;
        
        display: block;

        padding-bottom: 35px;
   }

   .question-title {
        padding: 37px;

        border-radius: 55px;
   }

   .question-title h3 {
        font-size: 17px;
   }

   /*question-three*/

   .question-three {
        border-radius: 55px;
   }

   .question-three p {
        font-size: 18px;

        padding: 19px 50px 37px 37px;
   }

   .question-three-title {
        padding: 37px 37px 19px 37px;

        border-radius: 37px;
   }

   .question-three-title h4 {
        font-size: 18px;
   }

/* Footer */

    .footer-container {
        padding-bottom: 45px;
    }

    .footer-cat {
        width: 350px;
        height: 381px;

        bottom: 20px;
        right: 0;
    }

    .footer-title {
        font-size: 45px;

        margin-bottom: 35px;
    }

    /*contacts-tg*/

    .contact-tg {
        gap: 27px;
    }

    .contact-tg p {
        font-size: 16px;
    }

    .email-first {
        padding: 0 16px;
    }

    .email-first p {
        font-size: 16px;
    }

    .email-first a {
        font-size: 16px;
    }

    /*footer-last*/
    
    .footer-last {
        gap: 10px;
    }

    .last-title {
        flex-direction: column;
        gap: 17px;
    }

    .last-title h2 {
        font-size: 38px;

        margin-right: 0;
    } 

    .last-title span {
        font-size: 38px;
    }

    .last-title p {
        color: #ccc;
        font-family: 'Montserrat', sans-serif;
        font-size: 9px;
        font-style: normal;
        font-weight: 300;
        
        display: block;
    }

    .last-a a {
        font-size: 14px;
        line-height: 105%;
    }

}

@media (max-width: 1023px) {

    .container {
        max-width: 100%;
        padding: 0 40px;
        
        margin: 0 auto;
    }

/* header */

    .header {
        padding: 26px 0;
    }

    .header-nav-link {
        font-size: 7px;
        padding: 4px 6px;
    }

/* intro */

    .intro-kv {
        width: 768px;

        top: 0;
    }

    .content-title {
        gap: 65px;
    }

    .content-title-first {
        gap: 25px;
    }

    .content-subtitle-first h1 {
        font-size: 54px;
    } 

    .content-subtitle-first h2 {
        font-size: 70px;
    }
    
    .content-title-first p {
        font-size: 13px;
        padding-left: 10px;
    }

    /*content-second*/

    .content-title-second {
        gap: 4px;
    }

    .title-second-subtitle {
        width: 160px;
        padding: 7px 4px;

        font-size: 21px;
    }

    .content-title-second time {
        font-size: 21px;
    }

    .content-title-second h2 {
        font-size: 21px;
    }

/* banner */

    .video {
        width: 682px;
        height: 410px;

        border-radius: 35px;
    }

    .content-invitation {
        padding: 50px 0 0 0;

        gap: 30px;
    }

    .invitation-text {
        padding: 0 0;
    }

    .invitation-text div:first-child {
        font-size: 20px;

        padding-right: 5px;
    }

    .invitation-text div:last-child {
        font-size: 13px;
        padding-left: 15px;
    }

    .invitation-btn {
        padding: 7px 45px;

        font-size: 13px;
    }

    /*invitation-advertising*/

    .invitation-advertising {
        padding: 0 0;

        gap: 11px;
    }

    .advertising-link p {
        font-size: 10px;
    }
  
/*content-service*/ 
    
    .content-service {
        padding: 80px 0 0 0 ;
    }  

    .content-service h1 {
        font-size: 35px;
        font-weight: 700;
        line-height: 37.316px; 

        margin-bottom: 35px;
    }

    .content-service-text {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 15.365px;
    }

    /*service-team*/

    .service-team {
        margin-bottom: 50px;

        gap: 35px;
    }

    .team {
        padding: 13px 9px;

        gap: 8px;
    }

    .team h3 {
        text-align: center;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;

        margin: 0;
    }

    .team p {
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 15.365px;
    }

    /*content-shadowing*/

    .content-shadowing {
        padding: 0 100px;

        gap: 30px;
    }

    .content-shadowing-element {
        gap: 33px;
    }

    .content-shadowing-element p {
        font-size: 14px;
    }

    /* group-league */

    .content-league h2 {
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: 40.385px; 

        padding: 0;
    }

    /*league*/

    .league {
        padding-bottom: 60px;
    }

    .league div {
        gap: 9px;
    }

    .league h3 {
        text-align: center;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
    }

    .league p {
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;

        padding: 0 50px;
    }

    /*league-shadowing*/

    .league-shadowing {
        padding: 0 100px;
        gap: 12px;
    }

    .league-shadowing-element {
        gap: 25px;
    }

    .league-shadowing-element p {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

/* content-path-team */

    .content-path-team {
        padding: 0;

        gap: 25px;

        margin-bottom: 70px;
    }

    .content-path-team h2 {
        font-size: 20px;
        font-weight: 700;

        padding-bottom: 0;
    }

    /*team number*/

    .path-team-number {
        gap: 12px;
    }

    .team-number {
        padding: 12px; 

        border-radius: 15px;
    }

    .team-number h3 {
        font-size: 55px;
        font-weight: 700;
    }

    .team-number h3::after {
        width: 5px;
        height: 5px;
        right: 12px;
    }

    .team-number h4 {
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
    }

    .team-number p {
        font-size: 8px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

/* content-registration */

    .content-registration {
        padding: 0;
    }
    
    .content-registration h2{
        font-size: 35px;
        padding-bottom: 25px;
    }

    /*type-first*/

    .type-first {
        padding: 13px 13px 145px 13px;
    }

    .type-first-title h3 {
        font-size: 20px;
        line-height: 105%;
    }

    .type-first-title h4 {
        font-size: 11px;
        line-height: 110%;
    }

    .group-cross {
        width: 28px;
        height: 28px;
    }

    .cross {
        width: 12px;

        top: calc(14px - 10px);
        right: calc(14px - 6px);
    }
 
    .img-user {
        width: 140px;
        top: 110px;
        right: 20px;
    }

    /*type-second*/

    .type-second {
        padding: 13px;
    }

    .type-second-title h3 {
        font-size: 20px;
        line-height: 105%;
    }

    .type-second-title h4 {
        font-size: 11px;
        line-height: 110%;
    }
    
    .type-second-title p {
        font-size: 11px;
        line-height: 110%;

        padding: 5px 9px;
    }

    .group-cross-second {
        width: 28px;
        height: 28px;
    }

    .img-group {
        width: 346px;

        top: 130px;
        right: -50px;
    }

/*content-participation*/

    .content-participation {
        padding: 30px 0;
    }

    .content-participation p {
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
    }

/*content-program*/

    .content-program {
        padding: 0;
    }

    .content-program h2 {
        font-size: 37px;
        line-height: 110%;

        margin-bottom: 27px;
    }

    /*program-data*/
    
    .program-number {
        width: 31px;
        height: 31px;

        font-size: 14px;
    }

    .program-data p {
        font-size: 16px;

        padding: 0 0 0 26px;
    }

    .program-data time {
        font-size: 22px;

        padding: 0 0 0 138px;
    }

    /*table*/

    .table {
        margin: 0 15.5px;

        border-left: 1px solid #0140FF;
    }
    
    .table-program {
        padding: 23px 0 0 41.5px;
    }

    /*program-time*/

    .program-time {
        margin: 0 70px 0 0;
    }

    .div-time {
        margin-bottom: 0;
    }

    .div-time time {
        font-size: 16px;
    }
    
    .div-time p {
        font-size: 20px;
        
        padding: 0 7px;
    }

    .time-min {
        padding: 4px 6px;
    }

    .time-min img {
        width: 12px;
        height: 12px;
    }

    .time-min p {
        font-size: 9px;
    }

    .program-title {
        padding-right: 15px;
    }
    
    .program-title h3 {
        font-size: 20px;
        padding-bottom: 0;
    }

    .program-title p {
        font-size: 10px;
        line-height: 13px;
    }

    /*program-img*/

    .program-img {
        gap: 20px;
    }

    .program-img p {
        font-size: 10px;
    }

    .program-img img {
        width: 42px;
        height: 22px;
    }

 /*content-speakers*/
    
    .content-speakers {
        padding: 0;
    }

    .content-speakers h2 {
        font-size: 35px;
        margin-bottom: 26px;
    }

    .speaker-name {
        padding: 13px 13px 19px 13px;
    }

    .speaker-name h3 {
        font-size: 13px;

        padding-bottom: 5px;
    }

    .speaker-name p {
        font-size: 8px;
        font-weight: 500;
    }

/*content-partners*/

    .content-partners {
        padding: 0;

        gap: 27px;
    }

    .content-partners h2 {
        font-size: 37px;
    }

    /*parthers*/

    .table-partners {
        gap: 27px;
    }

    .partners-title h3 {
        font-size: 11px;

        margin-bottom: 13px;
    }

    .partners-title h3::after {
        width: 558px;

        left: 130px;
    }

    .inline-partners img {
        width: 217px;
        height: 57px;
    }

/*content-info-partners*/

    .content-info-partners {
        padding: 27px 0;
    }

    .info-partners-title h2 {
        font-size: 11px;
    }

    .info-partners-title h2:after {
        width: 525px;
        left: 160px;
    }

/*content-question*/

    .content-question {
        padding: 68px 0 0 0;
    }

    .content-question h2 {
        font-size: 37px;

        padding-bottom: 27px;
    }

    .question-title {
        padding: 28px;

        border-radius: 46px;
    }

    .question-title h3 {
        font-size: 13px;
    }

    /*question-three*/

    .question-three {
        border-radius: 42px;

        box-shadow: 3px 3px 0px 0px #0140FF

    }

    .question-three p {
        font-size: 13px;

        padding: 14px 28px 28px 28px;
    }

    .question-three-title {
        padding: 28px 28px 14px 28px;
    }

    .question-three-title h4 {
        font-size: 13px;
    }

/* Footer */

    .footer-container {
        padding-bottom: 35px;
    }

    .footer-cat {
        width: 272px;
        height: 296px;

        bottom: 10px;
        right: 0;
    }

    .footer-title {
        font-size: 35px;

        margin-bottom: 25px;
    }

    /*contacts-tg*/

    .contact-tg {
        gap: 21px;
    }

    .contact-tg p {
        font-size: 13px;
    }

    .email-first {
        border-left: 1px solid #6BEC6B
    }

    .email-first p {
        font-size: 13px;

        padding-bottom: 0;
    }

    .email-first a {
        font-size: 13px;
    }

    /*footer-last*/

    .footer-last {
        margin-top: 50px;

        gap: 8px;
    }
    
    .last-title {
        gap: 13px;
    }

    .last-title h2 {
        font-size: 30px;

        line-height: 99%;

        margin-right: 0;
    }

    .last-title span {
        font-size: 30px;
    }

    .last-title p {
        font-size: 8px;
    }

    .last-a {
        gap: 23px;
    }

    .last-a a {
        font-size: 10px;
    }
    
}




@media (max-width: 767px) {

    .container {
        padding: 0 14px;
    }

/* header */    

    .header {
        display: none;
    } 
    
/*intro*/

    .intro-kv {
        width: 449px;
        
        left: 150px;

        top: 60px;
    }

    .intro-content {
        display: flex;
        justify-content: space-between;

        padding-top: 15px;
    }

    .content-title {
        gap: 30px;
    }

    .content-title-first {
        gap: 20px;
    }

    .content-subtitle-first {
        flex-direction: column;
        gap: 0;
    }

    .content-subtitle-first h1 {
        font-size: 17px;
    }

    .content-subtitle-first h2 {
        font-size: 22px;
    }

    .content-title-first p {
        font-size: 14px;
        
        padding-left: 9px;

        border-left: 1px solid #0140FF;
    }

    /*nav-telephone*/
    
    .nav-telephone {
        display: block;
    }

    .nav-telephone-btn{
        display: flex;
        flex-direction: column;

        gap: 5px;
    }

    .nav-telephone-btn div {
        width: 35px;
        height: 3px;

        border-radius: 2px;

        background-color: #0140FF;
    }

    /*content-second*/

    .content-title-second {
        gap: 3px;
    }

    .title-second-subtitle {
        width: 109px;
        padding: 5px 4px;

        font-size: 17px;
    
        border: 1px solid #6BEC6B;
    }

    .title-second-subtitle::after {
        width: 4px;
        height: 4px;

        right: 12px;
    }
    
    .content-title-second time {
        font-size: 17px;
    }

    .content-title-second h2 {
        font-size: 17px;
    }

/* banner */

    .video {
        width: 347px;
        height: 209px;
        font-weight: 500;

        border-radius: 0px;
    }

    .content-invitation {
        padding: 42px 0 0 0;
    }

    .invitation-text {
        display: flex;
        flex-direction: column;

        gap: 31px;
    }

    .invitation-text div:first-child {
        font-size: 17px;
    }

    .invitation-text div:last-child {
        font-size: 12px;

        padding: 11px 18px;
    }

    .invitation-btn {
        padding: 12px 16px;

        font-size: 16px;
        border-radius: 17px;
    }

    /*invitation-advertising*/

    .invitation-advertising {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        row-gap: 21px;
        column-gap: 15px;
    }

    .advertising-link p {
        font-size: 12px;
        font-weight:700;
    }

 /*content-service*/
 
    .content-service {
        padding: 36px 0 0 0;
    }

    .content-service h1 {
        font-size: 20px;
        font-weight: 700;
        line-height: 110%;
    }

    .content-service-text {
        font-size: 10px;
        font-weight: 700;

        line-height: 120%; 

        letter-spacing: 1px;

        margin-bottom: 20px;
    }

    /*service-team*/

    .service-team {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        gap: 35px;
    }

    .team {
        border: none;

        padding: 0 35px;

        gap: 12px;
    }

    .service-team-img-telephone {
        display: block;
        width: 100%;
        max-width: 350px;
        
        padding: 0 40px;
    }

    .team-img {
      display: none;
    }

    .team h3 {
        font-size: 20px;

        text-align: center;
    }

    .team p {
        text-align: center;

        font-size: 10px;
        font-weight: 400;

        line-height: 140%;
        letter-spacing: 1px;
    }

    /*content-shadowing*/

    .content-shadowing {
        padding: 0;
    }

    .content-shadowing-element {
        gap: 15px;
    }

    .content-shadowing-element p {
        font-size: 12px;

        line-height: 120%;

        padding-right: 25px;
    }

    /* group-league */

    .content-league h2 {
        font-size: 20px;
        font-weight: 700;

        line-height: 110%; 

        padding: 50px 0 0 0;
    }

    .league {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
    }

    .league div {
        gap: 5px;
    }

    .league h3 {
        text-align: center;

        font-size: 17px;
        font-weight: 700;
    }

    .league p {
        text-align: center;

        font-size: 14px;
        font-weight: 500;

        line-height: 120%;

        padding: 0 20px;
    }

    /*league-shadowing*/

    .league-shadowing {
        gap: 8px;

        padding: 0 ;
    }

    .league-shadowing-element {
        gap: 14px;
    }

    .league-shadowing-element p {
        font-size: 12px;

        padding-right: 0;
    }

    /* content-path-team */

    .content-path-team h2 {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
    }

    /*team number*/

    .path-team-number {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 28px;
    }

    .team-number {
        padding: 13px 24px;
        
        gap: 0;
    }

    .team-number div {
        display: flex;

    }

    .team-number h3 {
        font-size: 96px;
        font-weight: 700;

        padding: 0;
    }

    .team-number h3::after {
        width: 10px;

        height: 10px;
        right: 24px;
    }

    .team-number h4 {
        font-size: 22px;
        font-weight: 700;

        display: flex;
        align-items: end;

        padding-bottom: 10px;
    }

    .team-number p {
        font-size: 14px;

        line-height: 100%;
    }

/* content-registration */

    .content-registration-type {
        flex-direction: column;

    }

    .content-registration h2 {
        font-size: 40px;

        padding-bottom: 30px;
    }

    /*type-first*/

    .type-first {
        padding: 13px 13px 130px 13px;

        margin-bottom: 60px;
    }

    .type-first-title h3 {
        font-size: 20px;
        font-weight: 700;

        line-height: 22px;
        letter-spacing: 0.1px;

        padding-bottom: 0;
    }

    .type-first-title h4 {
        font-size: 14px;
        font-weight: 500;

        line-height: 16px;
    }

    .group-cross {
        width: 40px;
        height: 40px;
    }

    .cross {
        width: 16px;

        top: 9px;
        right: 12px;
    }

    .img-user {
        width: 135px;

        top: 100px;
        right: 20px;
    }

    /*type-second*/

    .type-second {
        padding: 13px 13px 65px 13px ;
    }

    .type-second-title {
        flex-basis: 65%;
    }

    .type-second-title h3 {
        font-size: 20px;
        font-weight: 700;

        line-height: 22px;

        letter-spacing: 0.1px;

        padding-bottom: 0;
    }

    .type-second-title h4 {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
    }

    .type-second-title p {
        text-align: center;

        font-size: 14px;
        font-weight: 700;

        line-height: 9.512px;

        padding: 6px;
    }

    .group-cross-second {
        width: 40px;
        height: 40px;
    }

    .img-group {
        width: 269px;

        top: 130px;
        right: -60px;
    }

/*content-participation*/

    .content-participation {
        padding: 10px 0;
    
        white-space: nowrap;
    }


    .content-participation p {
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
    }

/*content-program*/

    .content-program h2 {
        font-size: 40px;
        font-weight: 700;

        line-height: 120%; 

        margin-bottom: 21px;
    }

    /*program-data*/

    .program-number {
        font-size: 16px;
    }

    .program-data p {
        display: none;
    }

    .program-data time {
        display: none;
    }

    /*table*/

    .table {
        margin: 0;

        border-left: none;
    }

    .table-program {
        padding: 13px 0 0 0;

        gap: 30px;
    }

/* Program */    

    .program-main {
        flex-direction: column;  
        
        gap: 10px;
    }

    .program-title {
        padding: 0;

        gap: 6px;
    } 

    .program-title h3 {
        font-size: 14px;
        font-weight: 700;

        line-height: 120%;
    }

    .program-title p {
        font-size: 10px;
        font-weight: 700;

        line-height: 133%;
    }

    /*program-time*/

    .program-time {
        flex-direction: row;

        gap: 6px;
    }

    .div-time {
        margin-bottom: 0;
    }
    
    .div-time time {
        font-size: 17px;
        font-weight: 500;

        line-height: 117.857%;
    }

    .div-time p {
        font-size: 17px;

        line-height: 117.857%;
    }

    .time-min {
        padding: 0 5px;
    }

    .time-min p {
        font-size: 10px;
        font-weight: 700;
        line-height: 200%;
    }

    /*program-img*/

    .program-img {
        flex-direction: column;

        gap: 10px;
    }

    .program-img p {
        font-size: 8px;
        font-weight: 700;

        line-height: 252%;

        order: 2;
    }

    .program-img img {
        width: 34.5px;
        height: 18px;

        order: 1;
    }


    .content-speakers h2 {
        font-size: 40px;
        font-weight: 700;

        line-height: 120%; 

        margin-bottom: 21px;
    }

/* content-speakers */

    .div-speakers {
        grid-template-columns: repeat(2, 1fr);

        gap: 10px;
    }

    .div-speakers div:nth-child(odd) {
        display: none;
    }

    .speaker-name {
        padding: 12px 12px 30px 12px;
    }

    .speaker-name h3 {
        font-size: 12px;
        font-weight: 700;

        line-height: 120%;
    }

    .speaker-name p {
        line-height: 120%;
    }

/*content-partners*/

    .content-partners {
        display: none;
    }

/*content-info-partners*/    

    .content-info-partners {
        display: none;
    }

/*content-info-partners*/

    .content-question {
        padding: 0;

        margin-top: 110px;
    }

    .content-question h2 {
        font-size: 40px;
        font-weight: 700;

        line-height: 120%;

        padding-bottom: 21px;
    }

    .question-title {
        padding: 23px 30px;
    }

    .question-title h3 {
        font-size: 12px;
        font-weight: 600;

        line-height: 14.418px;
    }

    .question-title img {
        width: 10px;
        height: 5.4px;
    }

    /*question-three*/

    .question-three {
        border-radius: 32px;
    }

    .question-three-title {
        padding: 22px;
    }

    .question-three-title h4 {
        font-size: 12px;
        font-weight: 600;

        line-height: 120%; 
    }

    .question-three-title img {
        width: 10px;
        height: 5.4px;
    }

    .question-three p {
        font-size: 12px;
        font-weight: 400;

        line-height: 120%;

        padding: 11px 22px 22px 22px;
    }

/* Footer */

    .footer {
        margin-top: 150px;
    }

    .footer-container {
        padding-bottom: 70px;
    }

    .footer-cat {
        width: 233px;
        height: 253px;

        right: -85px;
        bottom: 380px;

        transform: scale(-1,1);
    }

    .footer-title {
        font-size: 40px;
        font-weight: 700;

        line-height: 100%;

        margin-bottom: 40px;
    }

    /*contacts-tg*/

    .contact-tg {
        grid-template-columns: repeat(1, 1fr);

        gap: 17px;
    }

    .contact-tg p {
        font-size: 14px;
        font-weight: 500;

        line-height: 120%;

        order: 1;
    }

    .contacts-btn {
        order: 2;
    }

    .contacts-btn img {
        width: 20px;
        height: 20px;
    }

    .email-first {
        padding: 0 16px;
    } 

    .email-first p {
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;

        padding-bottom: 5px;

    }

    .email-first a {
        font-size: 14px;
        font-weight: 700;
        line-height: 118%;
      
    }

    .email-ff {
        order: 3;
    }

    .email-ss {
        order: 4;
    }
    
    /*footer-last*/

    .footer-last {
        flex-direction: column;

        gap: 45px;

        margin-top: 10px;
    }

    .last-title h2 {
        font-size: 38px;
        font-weight: 700;

        line-height: 99%; 
    }

    .last-title span {
        font-size: 38px;
        font-weight: 300;

        line-height: 99%;
    }

    .last-title p {
        display: none;
    }

    .last-a {
        gap: 30px;
    }

    .last-a a {
        font-size: 12px;
        font-weight: 500;
        line-height: 138%;
    }


    



}